# Configuración de Base de Datos
DATABASE_URL=sqlite:///./vankenban.db

# Configuración de Particiones (Crítico para app/database/partition_management.py)
# Define el tamaño de los saltos de ID o registros para las tablas particionadas
POSTGRES_PARTITION_RANGE_SIZE=1000000

# Configuración del Servidor (Uvicorn)
APP_HOST=0.0.0.0
APP_PORT=8000

# Configuración de Entorno (Opcional pero recomendado)
DEBUG=True
LOG_LEVEL=info